<div class="article">
  <h1 class="article--title"><%= article.title%></h1>

  <ul class="article_tags">
  </ul>

  <div class="article_body">
    <%= article.body %>
  </div>
  <div class="article_comment">

    <ul class="article_comment_comments">
    </ul>

    <textarea class="article_comment_input"></textarea>
    <div class="article_comment_submit widget_button">コメントする</div>
  </div>
</div>
