
/* tags block */
.c_tagList{
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 14px;
}

.c_tagItem{
  float: left;
  margin: 0;
  margin-right: 32px;
  padding: 0;
  list-style-type: none;
  color: #000;
  background: #fed;
  font-size: 14px;
  text-align: center;
}
