
/*
.articleList
  .items
    .title
    .tags
      .tag
    .body
      .text
      .link
*/


/* articleList items block */
.articleList{
  width: 480px;
  list-style-type: none;
  font-size: 14px;
}

.articleList_item{
  display: block;
  width: 480px;
}

.articleList_title{
  height: 32px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 20px;
  font-weight: bold;
}



/* tags block */
.articleList_tags{
  width: 480px;
  height: 32px;
}

.articleList_tags_tag{
  width: 128px;
  height: 24px;
  margin-right: 32px;
  line-height: 24px;
}



/* body block */
.articleList_body{
  display: block;
  width: 480px;
  height: 128px;
}

.articleList_body_text{
  display: block;
  width: 480px;
  height: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.articleList_body_link{
  display: block;
  width: 480px;
  height: 16px;
  text-align: right;
}
